body {
    background-image: url('img/bg.gif');
    background-color: #000000; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.gif-top img, .gif-bottom img {
    display: block;
    margin: 0 auto;
}

.navigation a {
    color: yellow;
    text-decoration: underline;
    margin: 0 10px;
    font-size: 40px;
}

.navigation {
    color: rgb(255, 255, 255);
    margin: 0 10px;
    font-size: 40px;
}

.gif-links a {
    display: inline-block;
    margin: 5px;
}

.main-content {
    margin: 20px 0;
    font-size: 30px;
}


.cd-covers {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line if there's not enough space */
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Add some space between the items */
    margin-bottom: 50px;
}

.cd-cover-item {
    flex: 0 1 auto; /* Items can grow and shrink but respect their original size */
    /* Add any additional styling you want for each item, like margins or padding */
}

.cd-cover-item:hover {
    transform: scale(1.05);
}


.software-table {
    border-collapse: collapse;
    margin-left: auto; /* Center the table horizontally */
    margin-right: auto;
}

.software-table th, .software-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center the text in table headers and cells */
}

/* Optional: If you want to ensure the table headers are visually distinct */
.software-table thead th {
    background-color: #666666; /* Darker background for header */
    color: white; /* Light text color for contrast */
}


/* Targeting odd rows */
.software-table tr:nth-child(odd) {
    background-color: #000000; /* Black for odd rows */
}

/* Targeting even rows */
.software-table tr:nth-child(even) {
    background-color: #333333; /* Dark gray for even rows */
}

.software-table thead {
    background-color: #666666; /* A different color for the header row, if desired */
}
